@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Ashesha';
  src: url('../public/fonts/ashesha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gugeshashvili';
  src: url('../public/fonts/gugeshashvili2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.text-ashesha {
  font-family: 'Ashesha', sans-serif;
}

.text-guge {
  font-family: 'Gugeshashvili', sans-serif;
}