@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-image: url("../public/assets/mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* როცა ეკრანი იქნება 768px-ზე მეტი — გამოიყენე სხვა ფოტო */
@media (min-width: 768px) {
  body {
    background-image: url('../public/assets/desktop.png');
  }
}

@font-face {
  font-family: 'Ashesha';
  src: url('../public/fonts/ashesha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gugeshashvili';
  src: url('../public/fonts/gugeshashvili2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.text-ashesha {
  font-family: 'Ashesha', sans-serif;
}

.text-guge {
  font-family: 'Gugeshashvili', sans-serif;
}